{% extends 'base.html' %}


{% block content %}
<div class="container border shadow-lg rounded mx-auto" style="width:35%">
<h3 class='text-center'>Sign In</h3>
    {% if error %}
<h5 class='text-center text-danger'>{{ error }}</h5>
    {% endif %}
<form class="form-group" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn mt-2 btn-primary">Change</button>
    </div>
</form>
</div>
{% endblock %}