{% extends 'base.html' %}


{% block content %}
<div class="container border shadow-lg rounded mx-auto" style="width:35%">
<h3 class='text-center'>Sign In</h3>
    {% if error %}
<h5 class='text-center text-danger'>{{ error }}</h5>
    {% endif %}
<form class="form-group" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ login_form }}
    <div class="d-flex justify-content-between">
        <a href="{% url 'reset_pass' %}">Forgotten password?</a>
        <button type="submit" class="btn mt-2 btn-primary">Login</button>
    </div>
</form>
<div class="mb-2">Not a member? <a href="{% url 'register_user' %}">Sign Up</a> now!</div>
</div>
{% endblock %}