{% extends 'base.html' %}

{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column m-3 h-100 w-25 rounded bg-secondary text-white">
        <h3 class="mt-4 mx-auto">Menu:</h3>
        <div class="container mx-auto w-75 p-3">
            <ul class="navbar-nav">
                {% block side_menu %}
                {% endblock %}
            </ul>
        </div>
    </div>
    <div class="container m-3 rounded">
        {% block options %}
        {% endblock %}
    </div>
</div>
{% endblock %}