<li class="nav-item">
    <a class="nav-link text-white" href="{% url 'profile_page' request.user.pk %}">My profile</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" href="#">My students</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" href="#">My classrooms</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" href="#">My subjects</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" href="#">Add mark!</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" href="#">Evaluate behaviour?</a>