{% if not hired %}
<a class="btn btn-primary btn-block w-25 p-4 mb-3" href="{% url 'create_company' request.user.pk %}" role="button">Create new company!</a>
{% endif %}

{% if companies %}
    {% if success %}
        <h5 class="text-success"> {{ success }} </h5>
    {% endif %}
    {% if error %}
        <h5 class="text-danger"> {{ error }} </h5>
    {% endif %}
    <div class="row row-cols-3">
            {% for company in companies %}
                <div class="col border rounded mb-2 ">
                    <div class="w-100">
                        <h3>{{ company }}</h3>
                    </div>
                    <div class="d-flex m-1 p-3 border-top justify-content-end">
                        {% if request.user == company.user %}
                            <button type="button" class="btn m-1 btn-success" data-toggle="modal" data-target="#{{ company.title }}" >Add user</button>
                            <a href="{% url 'show_company' request.user.pk company.pk %}" role="button" class="btn m-1 btn-info">Information</a>
                        {% else %}
                        <a href="{% url 'leave' request.user.pk company.pk %}" role="button" class="btn m-1 btn-dark">LEAVE</a>
                        {% endif %}
                    </div>
                    <div class="modal show" id="{{ company.title }}" tabindex="-1" role="dialog" aria-labelledby="{{ company.title }}Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{ company.title }}Label">Here you can add users to your company!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post" id="{{ company }}-form">
                              {% csrf_token %}
                              <div class="form-group">
                                  <!---<label for="{{ company.title }}ID" class="col-form-label">Type a <strong>valid</strong> username! </label>

                                  <input type="text" class="form-control" id="{{ company.title }}ID" name="username"> -->
                                  <input type="hidden" name="company" value="{{ company.pk }}">
                                  {{ form.username.label_tag }}
                                  {{ form.username }}
                                  <div class="text-danger mt-2">
                                      {{ form.username.errors }}
                                  </div>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-danger" form="{{ company }}-form">Submit</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>


                </div>
            {% endfor %}

    </div>
{% else %}
    {% if not hired %}
        <h2>You have no companies!</h2>
    {% else %}
        <h2>Not hired by anyone!</h2>
    {% endif %}
{% endif %}

