
<div class="d-flex" id="dashboard">
    <div class="d-flex flex-column flex-fill border">
        <div class="d-flex border w-100 border-top-0 border-left-0 border-right-0 p-1 m-1 justify-content-around">
            <h3>TO DO</h3>
            <a href="{% url 'create_a_todo' request.user.pk %}" class="btn btn-success" role="button">Add</a>
        </div>
        {% if todos %}
           {% for todo in todos %}
                 {{ todo }}<br>
            {% endfor %}
        {% endif %}
    </div>
    <div class="d-flex flex-column flex-fill border align-items-center">
        <div class="d-flex border w-100 border-top-0 border-left-0 border-right-0 p-1 m-1 justify-content-around">
            <h3>IN PROGRESS</h3>
        </div>
        <h3>someshit</h3>
    </div>
    <div class="d-flex flex-column flex-fill border align-items-center">
        <div class="d-flex border w-100 border-top-0 border-left-0 border-right-0 p-1 m-1 justify-content-around">
            <h3>DONE</h3>
        </div>
    </div>
</div>
