<div class="d-flex flex-column border rounded shadow-lg mx-auto p-2 justify-content-end" style="width:35%">
    <img src="{{ additional.image.url }}" class="img-thumbnail w-75 h-auto mx-auto" alt="profile pic" >
    <ul>
        <li>Username: {{ user_info.username }}</li>
        <li>First Name: {{ user_info.first_name }}</li>
        <li>Middle Name: {{ additional.middle_name }}</li>
        <li>Last Name: {{ user_info.last_name }}</li>
        <li>Email: {{ user_info.email }}</li>
        <li>Age: {{ additional.date_of_birth }}</li>
        <li>Email: {{ user_info.email }}</li>
    </ul>
    {% if not check %}
    <div class="d-flex justify-content-center">
        <a href="{% url 'change_pass' request.user.pk request.user.username %}" role="button" class="btn btn-primary mr-1">Change Password</a>
        <a href="{% url 'edit' request.user.pk %}" role="button" class="btn btn-danger">Edit Profile</a>
    </div>
    {% endif %}
</div>
