<div class="container">
    <h2>{{ company.title }}</h2>
    <div class="container mt-3 border-top">

        <h4>Company's employees:</h4>
        {% if employees %}
        <ul class="list-group mt-3 list-group flush">
            {% for employee in employees %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                        <div>{{ employee }}</div>
                        <div class="d-flex">
                            <a href="#" class="btn btn-info mr-2">See user profile</a>
                            <form method="post" action="{% url 'remove_employee' request.user.pk company.pk employee.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark text-white">Remove</button>
                            </form>
                        </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <h2 class="mt-5">Your company does not have any employees!</h2>
        {% endif %}

    </div>
</div>